.server-box-half,
.server-box-quarter,
.server-box-three-quarters {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px
}

.server-table a,
.server-table a:hover {
    box-shadow: none
}

.servers-list-wrap .servers-left-content {
    width: 35%;
    padding-left: 15px;
    padding-right: 15px
}

.servers-list-wrap .servers-right-content {
    width: 65%;
    padding-left: 15px;
    padding-right: 15px
}

.servers-list-wrap .servers-left-content,
.servers-list-wrap .servers-right-content {
    float: left;
    vertical-align: top
}

.row:last-child .servers-list-wrap hr {
    display: none
}

.servers-list-wrap hr {
    display: block;
    width: 100%
}

.servers-list-wrap {
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.server-box-half {
    width: 50%
}

.server-box-inner {
    padding: 15px;
    border: 1px solid #ddd
}

.server-box-three-quarters {
    width: 75%
}

.server-box-quarter {
    width: 25%
}

.single-servers .single-featured-image-header {
    display: none
}

.server-table table {
    border-collapse: collapse;
    margin: 0 0 1.5em;
    width: 100%
}

.server-table thead th {
    border-bottom: 2px solid #bbb;
    padding-bottom: .5em
}

.server-table th {
    padding: .4em;
    text-align: left
}

.server-table tr {
    border-bottom: 1px solid #eee
}

.server-table td {
    padding: .4em
}

.server-table td:first-child,
.server-table th:first-child {
    padding-left: 0
}

.server-table td:last-child,
.server-table th:last-child {
    padding-right: 0
}

.server-table a {
    color: inherit;
    border: 0;
}
